<!-- {% extends "base.html" %}
{% block title %}
Log In
{% endblock %}

{% block content %}
<h1> Sign Up </h1>
<link rel="shortcut icon" href="{{ url_for('static', filename='imgs/password.ico')}}" >
<script type="main.js"></script>
<form method="post" action="{{ url_for('login')}}">
  <p><input name="username" type="text"></p>
  <p><input name="password" type="password"></p>
  <input type="submit" onclick="cifrar(this)" value="Log In">

  
  
</form>
<p>id = "resultado"</p>


{% endblock %} -->

<!-- <html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sign Up</title>
  <script src="main.js"></script>
</head>
<body>

  
  <form method="POST" action="{{ url_for('login')}}">
    <p><input name="username" type="text"></p>
    <p><input name="password" type="password"></p>
    <button onclick = "fun()">Click me</button>
    
  </form>

</body> -->



<!DOCTYPE html>



<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Enviar formulario con ajax</title>
<head>
<body>
<!--   <form id="formulario" method="POST" action="{{ url_for('/akalogin')}}">
    <p><input name="username" type="text"></p>
    <p><input name="password" type="password"></p>
    <br><br>
    <input type="submit" id="btnEnviar" name="btnEnviar" value="Enviar formulario">
    
  </form> -->
  <form id="demo_form">
  Cuadro de entrada: <input type="text" name="nick_name" />
  <input type="submit" value="solicitud ajax"/>
  </form>
    <hr>
    <p class="respuesta">

    </p>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js"></script>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/pbkdf2.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
    <script src="main.js"></script>
<body>

